
/* common css styles--------------  */

body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 40px;
}
section {
  display: flex;
}

/* common css styles ends---------*/





/* skip the diet just eat healthy food & about me css starts------------- */
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}

.link-button {
  text-decoration: none;
  background-image: linear-gradient(#cc2b5e,#753a88);
  padding: 10px 25px;
  color: white;
  border-radius: 25px;
}
.frame {
   
  display:inline-flex;
  background-image: url(images/7.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  
  
}
.frame-p{
  margin-right: 200px;
}
/* skip the diet just eat healthy food & about me css  ends---------------- */





 /* my recepies css-------- */
.my-recepies-section {
  display: inline;
}
 


  /* three recepie boxes css starts-------------------*/
.recepie-box-section {
  display: flex;
  margin-top: 50px;
  margin-left: 11%;
  margin-right: 6.8%;
  padding-bottom: 50px;
}
.recepie-ttle-part {
  margin-right: 60px;
  margin-right: 60px;
  box-shadow: 5px 5px 20px gray;
  border-radius: 20px;
}

.recepie-ttle-part img {
  width: 90%;
  margin-top: 15px;
  margin-left: 15px;
}
.recepie-ttle-part h2 {
  color: orange;
  margin-top: 15px;
  margin-left: 15px;
}
.recepie-ttle-part p {
  font-size: 18px;
  color: black;
  margin: 0px 0px 30px 0px;
  font-weight: 400;
  margin-top: 15px;
  margin-left: 15px;
}
/* three recepie boxes css ends ---------------*/






/* subscriber css starts------------- */
.subscriber {
  width: 70%;
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 6%;
  border-radius: 15px;
  box-shadow: 10px 10px 40px gray;
  border-left: 7px;
  padding: 1%;
}
/* subscriber css ends--------------- */




  /* footer css starts-------------- */
.foo {
  position: sticky;
  margin-top: 10%;
  width: 100%;
  background-color: #0b0d17;
  color: white;
  text-align: center;
  height: 200px;
}
/* footer css ends--------------- */





/* menu bar css strats-------------- */
.menu-bar {
  text-align: right;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: orange;
}
.menu-bar ul li {
  width: 100px;
  margin: 2px;
  padding: 2px;
}
/* menu bar css ends--------------- */





/* testimonials css starts-------------- */
 
 
.testimonials{
  margin-top:10%;
  padding: 55px ;
  background-color: rgba(65, 105, 225, 0.055);
    
  color:  #434343;
  text-align: center;
   
}
.inner{
  max-width: 100%;
   
    
   
  overflow: hidden;
  padding:  20px;
}

.border{
  width: 160px;
  height: 5px;
  background: #6ab04c;
  margin: 26px auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
   
  padding: 15px;
   
}
.testimonial{
  background: #fff;
  padding: 30px;
}
.testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name{
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}
.stars{
  color: #6ab04c;
  margin-bottom: 20px;
}

/* testimonial css ends------------- */

  
 
 
